body {
    /*background: darkblue;*/
    color: black;
}

.app {
    background-image: linear-gradient(to bottom right, lightblue, gray);
    border: 1px solid;
    border-radius: 5px;
    max-width: 1000px;
}

.button {
    border-radius: 8px;
    margin-left: 5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.playarea {
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    max-width: 1000px;
    padding: 5px 0px 5px 0px;
}

.addtrack {
    display: flex;
    justify-content: flex-start;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    max-width: 1000px;
}

.addtrack__item {
    margin: 10px;
}

.trackarea {
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 5px;
    max-width: 1000px;
    min-height: 50px;
}

.track {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /*border: 1px solid white;*/
    margin: 5px;
}

.track__details {
    border-top: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid;
    border-right: 1px solid;
    width: max-content;
    padding: 2px;
    font-size: smaller;
    background-color: white;
}

.track__data {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.track__button {
    margin: 2px;
    background-color: red;
}

.measure {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid;
    border-radius: 5px;
}

.beat {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
    height: 50px;
    width: 50px;
}

.beat--unchecked {
    background-color: gray;
}

.beat--checked {
    background-color: darkblue;
}

.beat--playing {
    background: greenyellow;
}


.instrumentselect {
    border: 1px solid white;
    width: 100%;
    padding: 5px;
}
