body {
    background: darkblue;
    color: white;
}

.addtrack {
    display: flex;
    justify-content: flex-start;
    border: 1px solid white;
    margin: 5px;
}

.addtrack__item {
    margin: 10px;
}

.trackarea {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.track {
    display: flex;
    justify-content: flex-start;
    /*border: 1px solid white;*/
    margin: 5px;
}

.track__button {
    margin: 2px;
}

.measure {
    display: flex;
    justify-content: flex-start;
    border: 1px solid white;
}

.beat {
    border: 2px solid black;
    margin: 2px;
    height: 50px;
    width: 50px;
}

.beat--unchecked {
    background-color: gray;
}

.beat--checked {
    background-color: red;
}

.beat--playing {
    background: green;
}


.instrumentselect {
    border: 1px solid white;
    width: 100%;
    padding: 5px;
}
